input,
textarea {
  @apply body2 rounded-sm dark:bg-dark-base-extra bg-light-base-extra;
}

textarea {
  @apply h-72;
}

input:focus,
textarea:focus {
  @apply outline outline-[0.5px] 
  dark:outline-dark-secondary-dark outline-light-secondary-main;
}

.input {
  @apply body2 mt-2 mb-8 p-4;
}
