.navigation {
  @apply flex justify-end items-center align-middle px-14 py-10 fixed w-full;
}

.logo {
  @apply ml-0 mr-auto w-16;
}

/* hamburger icon */
.hamburger-line {
  @apply bg-grey-lightest h-[.165rem] w-6 rounded-sm;

  &:last-of-type {
    height: 0.17rem;
    width: calc(1.5rem / 1.55);
  }
}

/* Cross icon for when mobile nav is open */

.cross-nav {
  @apply flex flex-col justify-center;

  &-line {
    @apply bg-grey-lightest h-[.165rem] w-7 rounded-sm;

    &.top-left {
      transform: rotate(45deg) translate(3px, 1px);
    }

    &.top-right {
      transform: rotate(-45deg) translate(1px, 1px);
    }
  }
}

/* Mobile navigation */
.mobile-navigation {
  @apply bg-primary-dark h-[100vh] flex flex-col justify-center
  w-4/5 
  fixed right-0;
}

/* Disables scroll if mobile navigation is open */
.disable-scroll {
  overflow: hidden;
}
