@layer components {
  /* h1 */

  h1,
  .h1 {
    @apply font-headingBold 
    font-normal 
    dark:text-white text-black
    text-h1Mobile md:text-h1Tablet 2xl:text-h1Desktop;
  }

  /* h2 */
  h2,
  .h2 {
    @apply font-headingBold 
    font-normal 
    dark:text-grey-lightest text-grey-darkest
    text-h2Mobile md:text-h2Tablet 2xl:text-h2Desktop 
    tracking-wider;
  }

  /* h3 */
  h3,
  .h3 {
    @apply font-headingBold 
    font-normal 
    dark:text-grey-lightest text-grey-darkest
    text-h3Mobile md:text-h3Tablet 2xl:text-h3Desktop 
    tracking-wide;
  }

  /* h4 */
  h4,
  .h4 {
    @apply font-headingLight 
    font-normal 
    dark:text-dark-secondary-dark text-light-secondary-dark 
    tracking-wider;
  }

  /* h5 */
  h5,
  .h5 {
    @apply font-headingLight 
    font-semibold 
    dark:text-grey-lightest text-grey-darkest;

    &.secondary {
      @apply dark:text-dark-secondary-dark text-dark-secondary-dark;
    }
  }

  /* h6 */
  h6,
  .h6 {
    @apply font-headingLight 
    font-light;
  }

  /*  */

  /* body1 */
  .body1 {
    @apply font-body 
    font-light 
    dark:text-grey-lightest text-grey-darkest
    tracking-normal 
    leading-relaxed;
    font-size: clamp(
      theme(fontSize.body1Mobile),
      1.5vw,
      theme(fontSize.body1Desktop)
    );
  }

  /* body2 */
  .body2 {
    @apply font-body 
    font-light 
    dark:text-grey-lightest text-grey-darkest 
    text-body2MobileSmall xs:text-body2Mobile sm:text-body2Desktop;
  }

  /* link */
  a,
  .link {
    @apply font-body 
    font-light 
    dark:text-grey-lightest text-grey-darkest
    text-linkMobile md:text-linkTablet 2xl:text-linkDesktop 
    tracking-normal 
    cursor-pointer;
  }

  /* moile link */
  .mobile-link {
    @apply link 
    text-2xl 
    tracking-wide;

    &.active {
      @apply dark:text-dark-secondary-dark text-light-secondary-dark;
    }
  }

  /* action */
  .action {
    @apply font-body font-light 
    dark:text-grey-main text-grey-dark
    uppercase 
    text-actionMobile md:text-actionTablet 2xl:text-actionDesktop;
  }

  /* button */
  button,
  .button {
    @apply font-body 
    font-semibold 
    dark:text-white text-black
    text-buttonMobile md:text-buttonTablet 2xl:text-buttonDesktop;
  }

  /* subtitle */
  .subtitle {
    @apply font-body 
    font-medium italic 
    dark:text-grey-lightest text-grey-darkest  
    text-subtitleMobile md:text-subtitleTablet 2xl:text-subtitleDesktop
    tracking-normal;
  }
}

/* image */
img {
  @apply subtitle;
}
