---
import BaseHead from "../components/head/BaseHead.astro";
import "../styles/main.css";
import ThemeProvider from "@context/ThemeProvider";
import ScrollProvider from "@context/ScrollProvider";
import { ViewTransitions } from "astro:transitions";
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <BaseHead title="Olly Marsters" />
    <ViewTransitions />
  </head>
  <body>
    <ThemeProvider client:only />
    <ScrollProvider client:only />
    <div>
      <slot name="header" />
    </div>
    <main id="content">
      <slot />
    </main>
    <script src="@scripts/onLoad.ts"></script>
  </body>
</html>
