---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import "../styles/main.css";

// attmept on adding to CI env
---

<Layout title="Welcome to Astro.">
	<button class="another-test"> hello</button>
	<p class="text-3xl font-bold underline color-red">hell</p>
</Layout>