---
import Layout from "../layouts/Layout.astro";
import "../styles/main.css";


const testVar = "testing"
// attmept on adding to CI env
---

<Layout title="Welcome to Astro.">
	<button class="another-test"> hello</button>
	<p class="text-3xl font-bold underline text-red">hell</p>
</Layout>