---
import Layout from "@layouts/Page.astro";
// import ResponsiveLayout from "@layouts/ResponsiveLayout.astro";
import Resposive from "@components/ResponsiveLayout";
import Test from "@components/Test";
// import Duplicate from "@layouts/Duplicate.astro";
---

<Layout>
  <!-- <Resposive breakpoints={[800]} client:only>
    <div>hello there matey</div>
  </Resposive> -->
  <Test breakpoints={[300, 900]} client:only>
    <div>second hello</div>
  </Test>
  <!-- <Duplicate viewports={["mobile", "desktop"]}>
    <div slot="mobile">hdddd</div>
  </Duplicate> -->
  <!-- <ResponsiveLayout includedViewports={["tablet"]}>
    <p slot="mobile">This is a mobile</p>
    <p slot="tablet">This is a tablet</p>
    <p slot="small-tablet">This is a small tablet</p>
    <p slot="desktop">This is a desktop</p>
  </ResponsiveLayout> -->
</Layout>
