---
import Layout from "@layouts/Page.astro";
import ResponsiveLayout from "@layouts/ResponsiveLayout.astro";
---

<Layout>
  <div class="testing">hello</div>
  <ResponsiveLayout viewports={["tablet", "desktop"]}>
    <p slot="mobile">This is a mobile</p>
    <p slot="tablet">This is a tablet</p>
    <p slot="desktop">This is a desktop</p>
  </ResponsiveLayout>
</Layout>
