---
import Icon from "@components/base/Icon";
import { externalLinks } from "@utils/constants";
---

<div class="page-padding page-max-width justify-between py-8 flex">
  <div class="hidden gap-6 sm:flex">
    <a href={externalLinks.githubProfile} target="_blank" class="link">Github</a
    >
    <a href={externalLinks.linkedin} target="_blank" class="link">LinkedIn</a>
  </div>
  <span class="flex items-center gap-2">
    <Icon icon="copyright" width="w-4" client:only />
    <p class="link">Olly Marsters 2023</p>
  </span>
</div>
