---
import clsx from "clsx";

type Props = {
  title: string;
  padding?: boolean;
};

const { title, padding } = Astro.props;
---

<div
  class={clsx("flex items-center w-full py-10", { "page-padding": padding })}
>
  <h2 class="h2 w-fit">
    {title}
  </h2>
  <hr class="horizontal-line" />
</div>
