---
import Icon from "@components/base/Icon";
import myImage from "@assets/images/logo.png";
---

<nav class="navigation">
  <img src={myImage} alt="logo" class="logo" />
  <ul class="flex justify-center items-center gap-12 link">
    <a href="#about">
      <li class="naviation-item">About</li>
    </a>
    <a href="#projects">
      <li class="naviation-item">Projects</li>
    </a>
    <a href="#writing">
      <li class="naviation-item">Writing</li>
    </a>
    <a href="#contact">
      <li class="naviation-item">Contact</li>
    </a>
    <Icon icon="download" />
    <Icon icon="light_mode" />
  </ul>
</nav>
