---
import Icon from "@components/base/Icon";
import CVDownload from "@components/CVDownload";
import myImage from "@assets/images/logo.png";
---

<nav class="navigation">
  <img src={myImage} alt="logo" class="logo" />
  <ul class="flex justify-center items-center gap-12 link">
    <a href="/#about">
      <li class="link">About</li>
    </a>
    <a href="/#projects">
      <li class="link">Projects</li>
    </a>
    <a href="/#contact">
      <li class="link">Contact</li>
    </a>
    <CVDownload client:only>
      <Icon icon="download" width="w-5 md:w-6" />
    </CVDownload>
    <Icon icon="light_mode" />
  </ul>
</nav>
