---
---

<nav class="navigation">
  <img src="" alt="logo" class="ml-0 mr-auto" />
  <ul class="flex justify-center gap-2 text-base font-body font-light">
    <li class="naviation-item">About</li>
    <li class="naviation-item">Projects</li>
    <li class="naviation-item">Writing</li>
    <li class="naviation-item">Contact</li>
  </ul>
</nav>
