---
import PortfolioImage from "@components/PortfolioImage";
import { Image } from "astro:assets";
import { imgMap } from "@utils/constants";

const { titleShort, src, alt } = Astro.props;
---

<div class="img-overlay"></div>
{
  titleShort !== "portfolio" ? (
    <Image src={imgMap[src]} class="project-image" alt={alt} />
  ) : (
    <PortfolioImage alt={alt} client:load />
  )
}
