---
import clsx from "clsx";
import PortfolioImage from "@components/PortfolioImage";
import { Image } from "astro:assets";
import { imgMap } from "@utils/constants";

const { titleShort, src, alt, className } = Astro.props;
---

<div class="img-overlay"></div>
{
  titleShort !== "portfolio" ? (
    <Image
      src={imgMap[src]}
      class={clsx("project-image animate-project-appear")}
      alt={alt}
    />
  ) : (
    <PortfolioImage
      alt={alt}
      className="project-image animate-project-appear"
      client:load
    />
  )
}
