@import "../base/mixins";

.navigation {
  @apply flex justify-center items-center align-middle py-10 fixed w-full z-10 page-padding page-max-width mx-auto;
}

.logo {
  @apply ml-0 mr-auto w-16;
}

/* hamburger icon */
.hamburger-line {
  @apply dark:bg-grey-lightest 
  bg-grey-dark
  h-[.165rem] w-6 rounded-sm;

  &:last-of-type {
    height: 0.17rem;
    width: calc(1.5rem / 1.55);
  }
}

/* Cross icon for when mobile nav is open */

.cross-nav {
  @apply flex flex-col justify-center;

  &-line {
    @apply dark:bg-grey-lightest bg-grey-dark h-[.165rem] w-7 rounded-sm;

    &.top-left {
      transform: rotate(45deg) translate(3px, 1px);
    }

    &.top-right {
      transform: rotate(-45deg) translate(1px, 1px);
    }
  }
}

/* Disables scroll if mobile navigation is open */
.disable-scroll {
  overflow: hidden;
}
