---
import clsx from "clsx";
import Icon from "@components/base/Icon";
import { storeMap } from "@utils/nanostore";

const { darkMode } = storeMap.get();
---

<div class="flex z-10 page-padding">
  <div class="flex flex-col justify-center items-start">
    <h4 class="flex gap-1 items-center">
      <Icon icon="wave" width="w-4" />
      <span> Hello I'm</span>
    </h4>
    <h1 class="pt-2">Olly Marsters</h1>
    <p class="subtitle pb-8">
      Interactive frontend developer passionate about creating meaningful and
      impactful digital experiences
    </p>
    <a href="/#contact">
      <button
        class={clsx("button", darkMode ? "primary" : "primary_dark")}
        onclick="">Get in touch</button
      >
    </a>
  </div>
</div>
