---
import BaseHead from "../components/head/BaseHead.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="hello world" />
  </head>
  <body>
    <slot name="header" />
  </body>
</html>
