---
import BaseHead from "../components/head/BaseHead.astro";
import "../styles/main.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="hello world" />
  </head>
  <body>
    <slot name="header" />
    <main id="content">
      <slot />
    </main>
  </body>
</html>
