---
---

<mobile-layout>
  <div class="mobile">I am mobile</div>
  <div class="desktop">I am desktop</div>
  <button id="test-button">Click me</button>
  <slot />
</mobile-layout>

<script is:inline>
  class MobileLayout extends HTMLElement {
    constructor() {
      super();

      const getIsMobile = () => {
        // Decalring elements
        const mobileEl = this.getElementsByClassName("mobile")[0];
        const desktopEl = this.getElementsByClassName("desktop")[0];
        const variants = [mobileEl, desktopEl];

        // Defining media query
        const mediaQuery = window.matchMedia("(max-width: 768px)");

        const chekViewportSize = (query) => {
          const hiddenEl = query.matches ? desktopEl : mobileEl;
          variants.forEach((variant) => {
            variant.style.display = variant == hiddenEl ? "none" : "block";
          });
        };

        // First check on page load
        chekViewportSize(mediaQuery);

        // Subsequent checks fire on an onchange event listener
        mediaQuery.addEventListener("change", (event) => {
          chekViewportSize(event.target);
        });
      };

      getIsMobile();
    }
  }

  customElements.define("mobile-layout", MobileLayout);
</script>
