---
import Layout from "@layouts/Base.astro";
import Header from "@components/Header.astro";
import MobileHeader from "@components/mobile/Header";
import Footer from "@components/Footer.astro";
import Responsive, { breakpointsMap } from "@layouts/ResponsiveLayout";
import { responsiveSlotTypes } from "@utils/constants";

const { matchSlot, fallbackSlot } = responsiveSlotTypes;
---

<Layout>
  <Responsive breakpoints={[breakpointsMap.tablet]} client:only>
    <Header slot={matchSlot} />
    <MobileHeader slot={fallbackSlot} client:only />
  </Responsive>
  <div id="page">
    <slot />
  </div>
  <Footer />
</Layout>
