/* Headings use epilogue */

/* epilogue-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/epilogue/epilogue-v17-latin-regular.woff2"),
    url("../../assets/fonts/epilogue/epilogue-v17-latin-regular.ttf");
}
